.message__container {
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 0px 50px;
}

.message__container img {
  width: 50px;
  border-radius: 50%;
  margin: 10px;
  /* align-self: flex-end; */
}

.message {
  /* background-color: rgba(219, 219, 219, 0.4); */
  background-color: #1F72E6;
  /* color: rgb(109, 106, 106); */
  color: #fff;
  padding: 10px;
  margin-left: 5px;
  border-radius: 10px;
  word-break: break-all;
  max-width: 40%;
  position: relative;
  line-height: 1.2;
  letter-spacing: 0.5px;
}

.arrow:before {
  content: '';
  position: absolute;
  left: 10px;
  top: 50%;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  /* border-right-color: rgba(219, 219, 219, 0.4); */
  border-right-color: #1F72E6;
  border-left: 0;
  border-bottom: 0;
  margin-top: -10px;
  margin-left: -20px;
}