.contacts__container {
  font-size: 1em;
  padding: 15px;
  border-bottom: 2px solid rgba(232, 232, 232, 0.4);
  display: flex;
  align-items: center;
}

.contacts__container:hover {
  background-color: #ebebeb;
  cursor: pointer;
}

.contact__image {
  width: 50px;
  border-radius: 50%;
}

.contacts__container h1 {
  margin-left: 10px;
  font-size: 1rem;
}