.chatPage__container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  /* margin-right: 20px; */
  height: 80vh;
}

.chat__sidebar-container {
  border: 1px solid rgba(232, 232, 232, 0.4);
  overflow-y: scroll;
}