.groupItem {
    background-color: var(--first--color);
    background-color: #1f2833;
    border: solid 1px #bebebe;
    margin: 5px;
    padding: 0 0 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 400px;
    height: 350px;
    border-radius: 10px;
}

.groupPicture {
    object-fit: cover;
    width: 400px;
    height: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.groupItem__header {
    text-transform: capitalize;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 10px;
    color: var(--fifth--color);

}

.groupItem__description {
    font-size: 1rem;
    margin: 0 0 10px 0;
    color: #f8f8f8

}

.groupItem:hover {
    background-color: #1f2833e7;
}

.group__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}


