.group__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5em;
}

.group__section h1{
text-decoration: underline;
color: var(--main--color);
font-weight: 600;
}

.group__section ul{
    margin: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}