.group__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5em;
    width: auto;
}

.group__section h1 {
    color: var(--fifth--color);
    font-weight: 600;
    justify-content: center;
}
.group__containers {
    display: flex;
    flex-direction: row !important;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}
