.games__header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background: #ECE9E6;
    background: -webkit-linear-gradient(to right, #242f3b, #151c24);
    background: linear-gradient(to right, #242f3be8, #151c24);
    margin-bottom: 30px;
}

.games__header img {
    position: absolute;
    width: 350px;
    bottom: 0;
    right: 300px;
}

.games__header h1 {
    color: #ffffff;
    font-weight: 600;
    font-size: 2rem;
}

.game__div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.game__section {
    margin: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5em;
}

.game__section h1 {
    color: var(--fifth--color);
    font-weight: 600;
}

.linkToGames {
    margin: 0px 0px 20px 0px
}

.game__image {
    height: auto;
    width: 500px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.game__name {
    text-decoration: none;
    color: var(--fifth--color);
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}