.eventPage {
    border: solid rgb(212, 212, 212) 1px;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.eventPage__photo {
    width: 50%;
}

.eventPage__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.eventPage__info p{
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 100%;
    padding: 5px 10px;
}

.eventPage__header {
    text-transform: capitalize;
    font-weight: 600;
    color: var(--main--color);
}