.eventItem {
    background-color: rgb(251, 255, 255);
    box-shadow: 2px 4px 10px #c0c0c0a1;
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.eventItem:hover {
    background-color: rgb(239, 252, 253)
}

.eventItem__photo {
    width: 20%;
}

.event__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.eventItem__header {
    text-transform: capitalize;
    font-weight: 600;
    color: var(--fifth--color);
}

.CheckBoxOutlineBlankIcon:hover {
    color: var(--fourth--color);
}
.checkBoxIcon:hover {
    color: var(--fourth--color);
}