.events__header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background: #ECE9E6;
    background: -webkit-linear-gradient(to right, #242f3b, #151c24);
    background: linear-gradient(to right, #242f3be8, #151c24);
    margin-bottom: 30px;
}

.events__header img {
    position: absolute;
    width: 180px;
    bottom: 0;
    right: 300px;
}

.events__header h1 {
    color: #ffffff;
    font-weight: 600;
    font-size: 2rem;
}

.event__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5em;
}

.event__section h1 {
    color: var(--fifth--color);
    font-weight: 600;
}

.event__section ul {
    margin: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}