.eventItem {
    background-color: var(--first--color);
    background-color: #1f2833;
    box-shadow: 2px 4px 10px #c0c0c0a1;
    border-radius: 5px;
    margin: 5px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    width: 100%;
}

.eventItem:hover {
    background-color: #1f2833e7;
}

.eventItem__photo {
    width: 30%;
}

.event__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    text-align: center;
}

.eventItem__header {
    font-size: 1em;
    text-transform: capitalize;
    font-weight: 600;
    color: var(--fifth--color);
}

.eventItem__description {
    font-size: 0.8em;
    /* color: var(--first--color); */
    color: white;
    font-weight: 300;
    }

.ArrowForwardIosIcon:hover {
    color: var(--fourth--color);
  }