.people__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5em;
}

.people__section h1{
    color: var(--main--color);
    font-weight: 600;
    }

.people__list {
    display: grid;
    justify-items: center;
    align-items: start;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 10px;
}


@media screen and (min-width: 960px) {
    .people__list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 600px) {
    .people__list {
        grid-template-columns: repeat(2, 1fr);
    }
}