.person {
    border: solid 1px;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.personinfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    justify-content: space-between;
}