.person {
    background-color: rgb(251, 255, 255);
    box-shadow: 2px 4px 10px #c0c0c0a1;
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.person:hover {
    background-color: rgb(239, 252, 253)
}

.userinfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.userinfo img {
    width: 90px;
    padding: 2px;
    border: 1px solid rgba(201, 201, 201, 0.319);
    border-radius: 50%;
}

.person__names {
    font-size: 1.2rem;
    margin: 10px 0;
}

.intrests {
    margin-bottom: 10px;
}

.icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    justify-content: space-between;
}

.MailOutlineIcon:hover {
    color: var(--fourth--color);
}

.PersonAddIcon:hover {
    color: var(--main--color);
}