.chatcard__section {
  font-size: 1.5em;
  display: flex;
  align-items: center;
  /* width: 500px; */
  height: 100px;
  background-color: rgb(251, 255, 255);
  box-shadow: 2px 4px 10px #c0c0c0a1;
  border-radius: 5px;
  margin: 1px;
}

.chatcard__name {
  display: flex;
  align-items: center;
}

.chatcard__name h1{
  font-size: 1rem;
}

.chatcard__image{
  width: 70px;
  border-radius: 50%;
  margin: 20px;
}

/* .chatcard__container {
  align-items: 
} */

