name: Frontend CI

on:
  push:
    branches: [ dev ]
  pull_request:
    branches: [ dev ]

jobs:
  frontend:
    runs-on: ubuntu-latest 
      
    strategy:
      matrix:
        node-version: [14.x]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: Install dependencies
      working-directory: ./frontend
      run: yarn install --frozen-lockfile
    - name: Build
      working-directory: ./frontend
      run: yarn build --if-present
    - name: Start server
      working-directory: ./frontend
      run: yarn start 
    - name: Run tests
      working-directory: ./frontend
      run: yarn test
  
  backend:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: Install dependencies
      working-directory: ./backend 
      run: yarn install --frozen-lockfile
    - name: Start server
      working-directory: ./backend
      run: yarn run start
    - name: Linting
      working-directory: ./backend
      run: yarn run lint
    - name: Run tests
      working-directory: ./backend
      run: yarn run test
